@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: orangered;
}

.form{
    background: rgba(119, 174, 9, 0.429);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 4px rgba(56, 17, 79, 0.792);
    color: rgba(56, 17, 79, 0.792);
}

.input::placeholder{
    color: lightgrey;
}

.btn{
    background: rgba(56, 17, 79, 0.792);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.7);
}

.score{
    color: rgba(56, 17, 79, 0.792);
    text-align: right;
}